.main{
    width: 100%;
    max-width: 430px;

    margin: 0 auto;


    background-color: rgb(236, 226, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}