.main {
  width: 100%;
  max-width: 430px;
    min-height: calc(100vh - 80px);
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;

  background-color: rgb(236, 226, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
