.maintext{

    width: 60%;
    height: 100px;
    

}

.hashtag{
    width: 60%;
    height: 50px;
}



.button{
    width: 100px;
    height: 30px;
    background-color: pink;
    border-color: white;
    border-radius: 10%;
    color: white;
    margin-bottom:30px;
    
}
.line{
    width: 60%;
    height: 3px;
    background-color: rgb(188, 169, 169);
}
.postbutton{
    width: 150px;
    height: 40px;
    background-color: pink;
    border-color: white;
    border-radius: 10%;
    color: white;
    margin-top: 20px;
}