.Header {

  
  height: 40px;
  background-color: pink;
  margin: 0 auto;
  display: flex;
  align-items: center;
  
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 430px;

}

.Arrow{
  color: white;
  margin-left: 10px;
}