@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


.stitch {
   color: #fff;
   height: 40px;
   width: 300px;
   
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   background: pink;
   border: 2px dashed white;
   border-radius: 10px;
   box-shadow: 0 0 0 7px pink;

   font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}
