.button{
    
    
}

.buttona{
     background-color: pink;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20%;

    display: flex;
    text-align: center;
    align-items: center;
    
}